.white_sp{
    white-space: nowrap;
}

.pac-container { z-index: 100000; }

.zoomWindow{
    z-index: 100000 !important;
}

.daterangepicker{
    z-index: 100000 !important;
}

.editAmount{
    width: 80px;
}

.p-0{
    padding: 0px !important;
}

.pb-0{
    padding-bottom: 0px !important;
}

.pt-0{
    padding-top: 0px !important;
}

.pr-0{
    padding-right: 0px !important;
}

.pl-0{
    padding-left: 0px !important;
}


.m-0{
    margin: 0px !important;
}

.mb-0{
    margin-bottom: 0px !important;
}

.mt-0{
    margin-top: 0px !important;
}

.mr-0{
    margin-right: 0px !important;
}

.ml-0{
    margin-left: 0px !important;
}